#container1{
    justify-self: center;
    align-items: center;
    width: 400px;
}

.container0{
    margin-top: 100px
}

#cityname{
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    border: 2px solid black;
    width: 250px;
    
}

#btn{
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

}

#container2{
    justify-self: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    width: 200px;
    border-radius: 10px;
}
